@import url('http://fonts.cdnfonts.com/css/century-gothic');
.pointer{
    cursor: pointer;
}
.textGrande{
    font-size: 1.8em;
    text-align: center;
    font-family: 'Century Gothic', sans-serif !important;
}
.text{
    font-size: 1em;
    text-align: center;
    font-family: 'Century Gothic', sans-serif !important;
}
.b{
    font-weight: bold;
    text-align: center;
}
.p{
    font-size: .8em;
}
.left{
    text-align: left;
}
.title{
    font-size: 1.2em;
    font-family: 'Century Gothic', sans-serif !important;
    color: #00A195;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2px;
    margin-bottom: 2px;
}
.link a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.6em;
}
/* sexto elemnto de la lista Stage_t7*/
#Stage_t7 div:nth-last-child(6){
    margin-top: 100px;
}
.textMediano{
    font-size: 1.5em;
    text-align: center;
    font-family: 'Century Gothic', sans-serif !important;
}
.textMediano a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: .6em;
}
.credit div{
    width: 100%;
    margin: 0;
    padding: 0;
}
.credit div{
    font-family: 'Century Gothic', sans-serif !important;
    font-size: 16px !important;
    line-height: 16px !important;
    text-align: left;
    color: #676767;
}